.main-square {
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
    background-color: antiquewhite;
    background-image: url("./images/bull_8322071309_o.jpg");
    background-position: center;
    background-size: stretch;
    padding: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.main-square div {
    width: calc(min(90vw, 90vh)/3);
    height: calc(min(90vw, 90vh)/3);
    margin: 0;
}

.main-square div.closed {
    background-color: #000;

}

.main-square div.open {
    background-color: #00000038;

}


@media (min-width: 641px) {
    .main-square {
        min-width: 250px;
        min-height: 250px;
        width: min(80vw, 80vh);
        height: min(80vw, 80vh);
    }

    .main-square div {
        min-width: calc(250px/3);
        min-height: calc(250px/3);
        width: calc(min(80vw, 80vh)/3);
        height: calc(min(80vw, 80vh)/3);

    }
}