.main-square {
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
    background-color: antiquewhite;
    padding: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.main-square div {
    width: calc(min(90vw, 90vh)/3);
    height: calc(min(90vw, 90vh)/3);
    margin: 0;
}

.main-square div.closed {
    background-color: #000;

}



@media (min-width: 641px) {
    .main-square {
        width: min(50vw, 50vh);
        height: min(50vw, 50vh);
    }

    .main-square div {
        width: calc(min(50vw, 50vh)/3);
        height: calc(min(50vw, 50vh)/3);
    }
}