@page "/"

<PageTitle>Mr E Magic Squares</PageTitle>

<h1>Hello, world!</h1>

<div class="main-square">
    <div id="square1"></div>
    <div id="square2"></div>
    <div id="square3"></div>

    <div id="square4"></div>
    <div id="square5"></div>
    <div id="square6"></div>

    <div id="square7"></div>
    <div id="square8"></div>
    <div id="square9"></div>
</div>
